# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

# Datasets (Large binary files and image folders)
mnist-dataset/
food-dataset/
!food-dataset/README.md

# Model Weights and Checkpoints
*.pkl

# System / IDE files
.DS_Store
.vscode/